@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: transparent;
}

.questions-interface::-webkit-scrollbar{
    display: none;
}

.modded-bg {
    background: #1626FF;
    background: linear-gradient(to right, #1626FF 29%, #FF0000 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 480px) {
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #313334;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #313334;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #313334;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #B2B2B2;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #B6B6B6;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #C7C7C7;
  }
}