.env
/server/.env
/server/venv/
/server/__pycache__/
.venv/
/server/middleware/__pycache__/
/server/controllers/__pycache__/

/server/socket-server/node_modules/
/server/server2.0/node_modules/
/server/server2.0/.env